#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [2]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [6]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [4]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [7]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [9]:
print(numbers[2])
print(numbers[-1])

3
6

In [10]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [8]:
print(mixed_tuple)
print(numbers)

(1, 'Hello World', 3.14, True)
(1, 2, 3, 4, 5, 6)

In [15]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [16]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [17]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [11]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [12]:
lst*3
print(lst)

[1, 'Krish', 3, 4, 5]

In [9]:
numbers[1]

2

In [23]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [26]:
numbers

(1, 2, 3, 4, 5, 6)

In [27]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
numbers.

2

In [28]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [29]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [30]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [33]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [34]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [36]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [37]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [15]:
tuple5 = 1, 2, 3, 4, 5
print(type(tuple5))

<class 'tuple'>

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

In [14]:
### ALL POSSIBLE WAYS TO CREATE A TUPLE


# 1. Using parentheses ()
tuple1 = (1, 2, 3, 4, 5)

# 2. Using tuple() constructor
tuple2 = tuple([1, 2, 3, 4, 5])  # From a list
tuple3 = tuple({1, 2, 3, 4, 5})  # From a set
tuple4 = tuple("hello")  # From a string

# 3. Using a comma (without parentheses) - Implicit tuple
tuple5 = 1, 2, 3, 4, 5

# 4. Creating an empty tuple
tuple6 = ()
tuple7 = tuple()

# 5. Creating a single-element tuple (comma required)
tuple8 = (42,)  # With parentheses
tuple9 = 42,    # Without parentheses

# 6. Using tuple comprehension (generator expression inside tuple())
tuple10 = tuple(x for x in range(5))

# 7. Using range() with tuple()
tuple11 = tuple(range(5))

# 8. Using tuple unpacking
a, b, c = (1, 2, 3)  # Tuple assignment
tuple12 = a, b, c    # (1, 2, 3)

# 9. Nested tuple
tuple13 = ((1, 2), (3, 4))

# 10. Using tuple() with map()
tuple14 = tuple(map(int, "1 2 3 4 5".split()))

# 11. Using tuple multiplication
tuple15 = (0,) * 5  # (0, 0, 0, 0, 0)

# 12. Using zip() to create a tuple
keys = ('name', 'age', 'city')
values = ('John Doe', 30, 'New York')
tuple16 = tuple(zip(keys, values))  # (('name', 'John Doe'), ('age', 30), ('city', 'New York'))

# Printing all tuples
print(tuple1, tuple2, tuple3, tuple4, tuple5, tuple6, tuple7, tuple8, tuple9, 
      tuple10, tuple11, tuple12, tuple13, tuple14, tuple15, tuple16)

(1, 2, 3, 4, 5) (1, 2, 3, 4, 5) (1, 2, 3, 4, 5) ('h', 'e', 'l', 'l', 'o') (1, 2, 3, 4, 5) () () (42,) (42,) (0, 1, 2, 3, 4) (0, 1, 2, 3, 4) (1, 2, 3) ((1, 2), (3, 4)) (1, 2, 3, 4, 5) (0, 0, 0, 0, 0) (('name', 'John Doe'), ('age', 30), ('city', 'New York'))

In [18]:
keys = ['name', 'age', 'city']
values = ['John Doe', 30, 'New York']
abc = list(zip(keys, values))  # (('name', 'John Doe'), ('age', 30), ('city', 'New York'))

In [20]:
type(abc)

list

In [22]:
tuple9 = 42,
type(tuple9)

tuple